<li class="appendix input optional">
  <%= f.label :appendix %>
  <% if f.object.appendix? %>
    <%= f.object.appendix_name %> &nbsp&nbsp
    <%= f.check_box :remove_appendix %> Remove &nbsp&nbsp
  <% end %>
  <%= f.file_field :appendix %>
</li>