// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a 
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)
body.active_admin form fieldset.child_list {
	margin-bottom: 0px;
}
body.active_admin form fieldset.new_child_list {
	margin-bottom: 0px;
}
//th.set_min_column_width { min-width: 50px;}
div#sidebar th {min-width: 30px;}
div#sidebar td {word-wrap: break-word;}
div#sidebar table {table-layout: fixed}
body.active_admin form.filter_form .filter_form_field.filter_date_range input.datepicker[type=text] {
//  width: 100px;
  width: 70px;
}
body.active_admin table.compare_table {
  width: 60%;
  margin: 5px auto;
}
table td.center_td_40p {
  text-align: center;
  width: 40%; 
  padding: 10px 0;
}
table td.center_td_10p {
  text-align: center;
  width: 10%;
  padding: 10px 0; 
}
table td.highlighted {
  background: #efefef;
}
td.yellowgreen {
  background: yellowgreen;
}

body.active_admin form input.input_with_action_link {
  width: 60%;
}

body.active_admin form input[disabled='disabled'] {
  background-color: rgba(211, 211, 211, 0.64);
}